<div class="flex flex-col justify-start items-start h-full">
  <header class="flex flex-row justify-between items-center h-1/14 px-4 py-2 w-full">
    <div class="flex flex-row justify-start items-center w-368 h-34 bg-gray-5 p-1.75 rounded">
      <i class="tdsi-search-fill text-xl leading-5 text-gray-6 mr-2.5"></i>
      <input type="text" placeholder="Search" class="text-gray-7 bg-gray-5 w-full text-sm ">
    </div>
    <div class="flex flex-row justify-start items-center h-12 py-1.5">
      <div class="flex flex-row justify-start items-center h-full mr-4">
        <i class="tdsi-add-fill text-orange-1 text-3.5xl leading-8.5 mr-2"></i>
        <ul class="flex flex-row h-full">
          <li class="h-full text-center w-9"><i class="tdsi-error-2-line text-xl leading-9 text-gray-6"></i></li>
          <li class="h-full text-center w-9"><i class="tdsi-notification-fill text-xl leading-9 text-gray-6"></i></li>
          <li class="h-full text-center w-9"><i class="tdsi-expand-line text-xl leading-9 text-gray-6"></i></li>
        </ul>
      </div>

      <div class="flex flex-row h-full justify-between">
        <div class="flex justify-start items-center mr-2 h-full py-1.75 px-13">
          <span class="mr-2 truncate w-[179px]">Cty cổ phần công nghệ Trường Minh Thịnh</span>
          <i class="tdsi-arrow-down-fill text-base leading-4"></i>
        </div>

        <div class="h-full">
          <img src="../assets/Avatar.png" alt="">
        </div>
      </div>

    </div>
  </header>
  <div class="py-2.5 px-4 border-y border-solid border-gray-12 w-full h-1/14">
    <div class="flex flex-row justify-start items-center text-xs-1 text-gray-7">
      <span class="leading-4">Trò chuyện</span>
      <i class="tdsi-arrow-right-line text-base leading-4 mx-1 pt-[2px]"></i>
      <span class="leading-4">Nhắn tin</span>
    </div>
    <h1 class="text-xl text-semibold text-black-1 leading-6 pt-1">Nhắn tin</h1>
  </div>

  <app-content class="w-full h-12/14"></app-content>
</div>
