<div class="w-full flex flex-col justify-start items-start h-full overflow-hidden ">
  <div class="w-full flex flex-row justify-between items-center border border-solid border-gray-12 h-16">
    <button class="w-1/2 text-center text-sm font-medium py-[22px] border-b-[3px] border-solid border-orange-1 h-full">Khách hàng</button>
    <button class="w-1/2 text-center text-sm font-medium py-[22px] text-gray-1 bg-gray-10 h-full">Đơn hàng</button>
  </div>

  <div class="flex flex-col justify-center items-start w-full px-4 border-l overflow-hidden border-solid border-gray-8">
    <div class="flex flex-col py-4 w-full border-b border-solid border-gray-8">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row h-6">
          <div class="flex justify-center items-center bg-orange-1 rounded-4xl w-6 h-full mr-2">
            <i class="tdsi-user-fill text-white text-base"></i>
          </div>
          <p class="text-sm font-medium leading-6 text-black-1">THÔNG TIN KHÁCH HÀNG</p>
        </div>

        <i class="tdsi-arrow-down-line text-xl text-gray-1"></i>
      </div>
      <div class="flex flex-col justify-start items-start mt-[12px] pt-2 px-2 pb-3">
        <div class="flex flex-row justify-start items-start">
          <div class="mr-3 flex flex-col justify-center items-start w-16 h-[72px] relative">
            <div class="mr-[12px] w-16 h-16 relative ">
              <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
              <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[4px] right-[7px] border border-solid border-white"></div>
            </div>
            <div class="text-white bg-yellow-1 px-[9px] text-center rounded text-xs py-[2px] w-full truncate absolute self-end bottom-0">Vàngfffdfdc</div>
          </div>
          <div>
            <h1 class="text-black-1 font-medium">Nguyễn Văn Huy - <span class="text-orange-1">MH124214</span></h1>

            <div class="flex justify-start items-center mt-[6px] py-[2px]">
              <i class="tdsi-star-2-fill text-orange-1 mr-1 text-base leading-4"></i>
              <p class="font-normal text-black-1 text-sm leading-4">1000</p>
            </div>
          </div>
        </div>

        <div class="flex items-center mt-5 w-full">
          <div class="flex w-1/2 items-start">
            <i class="tdsi-call-fill text-base text-gray-1 mr-2"></i>
            <p class="text-sm text-black-1 max-w-[240px]">0987213546</p>
          </div>

          <div class="flex w-1/2 items-start">
            <i class="tdsi-email-fill text-base text-gray-1 mr-2"></i>
            <p class="text-sm text-black-1 max-w-[240px]">Vanhuy20@gmail.com</p>
          </div>
        </div>

        <div class="flex items-start mt-1 w-full">
          <div class="flex w-1/2 items-start">
            <i class="tdsi-location-fill text-base text-gray-1 mr-2"></i>
            <p class="text-sm text-black-1 max-w-[240px]">12 CN1, Sơn Kỳ, Tân Phú, Thành phố Hồ Chí Minh</p>
          </div>

          <div class="flex w-1/2 items-start">
            <i class="tdsi-facebook-2-fill text-base text-gray-1 mr-4"></i>
            <p class="text-sm text-blue-1 max-w-[240px]"><a href="fb.com/100021654132">fb.com/100021654132</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col mt-3 py-2 w-full flex-auto overflow-hidden">
      <div class="flex flex-col">
        <div class="flex flex-row justify-between items-center w-full py-2">
          <div class="flex flex-row h-6">
            <div class="flex justify-center items-center bg-orange-1 rounded-4xl w-6 h-full mr-2">
              <i class="tdsi-note-fill text-white text-base"></i>
            </div>
            <p class="text-sm font-medium leading-6 text-black-1">GHI CHÚ</p>
          </div>

          <i class="tdsi-arrow-down-line text-xl text-gray-1"></i>
        </div>

        <form action="" class="w-full flex justify-between mt-3 h-10">
          <input type="text" placeholder="Nhập ghi chú"
            class="px-[13px] py-[7px] text-base text-gray-7 border border-solid
              border-gray-8 focus:outline-0 focus:border-orange-1 mr-2 flex-auto" >
          <button type="submit" class="bg-orange-1 rounded-md border border-solid border-orange-1 px-[13px] py-[7px]
              text-white text-sm font-medium">
            <i class="tdsi-note-fill text-base"></i>
            Thêm ghi chú
          </button>
        </form>
      </div>

      <div class="flex flex-col overflow-y-auto scrollbar-thin scrollbar-thumb-gray-3 mt-3">
        <div class="mt-3 flex flex-col w-full pb-4 border-b border-solid border-gray-8">
          <div class="flex justify-between items-center h-11">
            <img src="../assets/Avatar-message-1.png" alt="" class="w-11 h-full">
            <div class="px-3 flex-auto">
              <p class="text-sm font-medium text-black-1">Username (admin)</p>
              <p class="text-xs-1 leading-5 text-gray-7">
                <span class="mr-2">16:15</span>
                <span>15-06-2021</span>
              </p>
            </div>
            <i class="tdsi-trash-fill text-xl leading-10 text-gray-1 mr-3"></i>
          </div>
          <p class="w-full text-sm font-normal text-black-1 mt-5">Đây là khách hàng vip, đã từng mua rất nhiều đơn hàng</p>
        </div>

        <div class="mt-3 flex flex-col w-full pb-4 border-b border-solid border-gray-8">
          <div class="flex justify-between items-center h-11">
            <img src="../assets/Avatar-message-1.png" alt="" class="w-11 h-full">
            <div class="px-3 flex-auto">
              <p class="text-sm font-medium text-black-1">Username (admin)</p>
              <p class="text-xs-1 leading-5 text-gray-7">
                <span class="mr-2">16:15</span>
                <span>15-06-2021</span>
              </p>
            </div>
            <i class="tdsi-trash-fill text-xl leading-10 text-gray-1 mr-3"></i>
          </div>
          <p class="w-full text-sm font-normal text-black-1 mt-5">Đây là khách hàng vip, đã từng mua rất nhiều đơn hàng</p>
        </div>

        <div class="mt-3 flex flex-col w-full pb-4 border-b border-solid border-gray-8">
          <div class="flex justify-between items-center h-11">
            <img src="../assets/Avatar-message-1.png" alt="" class="w-11 h-full">
            <div class="px-3 flex-auto">
              <p class="text-sm font-medium text-black-1">Username (admin)</p>
              <p class="text-xs-1 leading-5 text-gray-7">
                <span class="mr-2">16:15</span>
                <span>15-06-2021</span>
              </p>
            </div>
            <i class="tdsi-trash-fill text-xl leading-10 text-gray-1 mr-3"></i>
          </div>
          <p class="w-full text-sm font-normal text-black-1 mt-5">Đây là khách hàng vip, đã từng mua rất nhiều đơn hàng</p>
        </div>

        <div class="mt-3 flex flex-col w-full pb-4 border-b border-solid border-gray-8">
          <div class="flex justify-between items-center h-11">
            <img src="../assets/Avatar-message-1.png" alt="" class="w-11 h-full">
            <div class="px-3 flex-auto">
              <p class="text-sm font-medium text-black-1">Username (admin)</p>
              <p class="text-xs-1 leading-5 text-gray-7">
                <span class="mr-2">16:15</span>
                <span>15-06-2021</span>
              </p>
            </div>
            <i class="tdsi-trash-fill text-xl leading-10 text-gray-1 mr-3"></i>
          </div>
          <p class="w-full text-sm font-normal text-black-1 mt-5">Đây là khách hàng vip, đã từng mua rất nhiều đơn hàng</p>
        </div>
      </div>
    </div>
  </div>
</div>
