<div class="w-full bg-navy-3 flex flex-col justify-between items-start font-inter h-screen">

  <div class="flex flex-col justify-start w-full overflow-hidden">
    <header class="flex justify-center items-center bg-navy-1 h-16 w-full">
      <img src="../assets/tshop-text.png" alt="" >
    </header>
    <ul class="flex flex-col justify-start w-full p-2 text-sm font-normal text-gray-3 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-3">
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center w-full ">
          <i class="tdsi-home-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Trang chủ</a>
        </div>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-message-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Trò chuyện</a>
        </div>
        <i class="tdsi-arrow-up-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded bg-navy-2">
        <div class="flex flex-row justify-start items-center ml-17 w-full">
          <div class="w-1.75 h-1.75 bg-red-1 rounded-4xl mr-2"></div>
          <a href="" class="w-full h-full">Danh sách tin nhắn</a>
        </div>
      </li>
      <li class=" w-full h-11 px-3 py-2.5 rounded flex items-center">
        <a href="" class="w-full h-full m-auto text-gray-4 ml-8 leading-6">Thiết lập chat</a>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-bag-1-line text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Đơn hàng</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-product-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Sản phẩm</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-star-2-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Đánh giá</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <i class="tdsi-user-line text-2xl mr-2.5"></i>
        <a href="" class="w-full h-full leading-6">Danh sách khách hàng</a>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-discount-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Khuyến mãi</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <i class="tdsi-marketing-fill text-2xl mr-2.5"></i>
        <a href="" class="w-full h-full leading-6">Quảng cáo sản phẩm</a>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-shop-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Quản lý shop</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-start items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <i class="tdsi-transport-line text-2xl mr-2.5"></i>
        <a href="" class="w-full h-full leading-6">Quản lý vận chuyển</a>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-supplier-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Quản lý kho</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-wallet-fill text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Quản lý tài chính</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-chart-pie-line text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Báo cáo</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-user-line text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Quản lý nhân viên</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
      <li class="flex flex-row justify-between items-center w-full h-11 px-[0.75rem] py-2.5 rounded">
        <div class="flex flex-row justify-start items-center">
          <i class="tdsi-gear-line text-2xl mr-2.5"></i>
          <a href="" class="w-full h-full">Cấu hình tài khoản</a>
        </div>
        <i class="tdsi-arrow-right-line text-sm "></i>
      </li>
    </ul>
  </div>

  <div class="flex flex-row justify-between items-center w-full h-77 ">
    <div class="m-4 relative w-[45px] h-[45px] flex justify-center items-center">
      <img src="../assets/Ellipse 705.png" alt="">
      <i class="tdsi-help-fill text-white absolute text-3.25"></i>

    </div>

    <div class="bg-navy-2 w-7.5 h-7.5 rounded-2xl-1 flex justify-center items-center border-solid border border-gray-2 m-4">
      <i class="tdsi-arrow-left-line text-gray-1 "></i>
    </div>
  </div>


</div>



