<div class="flex flex-col text-inter w-full h-full">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row px-4 py-2">
      <div class="mr-[12px] w-12 h-12 relative">
        <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
        <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
      </div>
      <div class="flex flex-col justify-start items-">
        <p class="font-semibold text-sm text-black-1 leading-5 pb-1">Nguyen Van Huy</p>
        <p class="font-normal text-xs-1 text-gray-7 leading-5">Description</p>
      </div>
    </div>

    <div class=" text-gray-6 text-xl mr-4 ">
      <i class="tdsi-call-fill p-2"></i>
      <i class="tdsi-video-camera-fill p-2 mx-1"></i>
      <i class="tdsi-three-dots-vertical-fill p-2"></i>
    </div>
  </div>
  <div class="bg-gray-11 flex flex-col w-full overflow-y-auto scrollbar-thin scrollbar-thumb-gray-3 py-2 px-4 box-border">
    <div class="w-full px-4 py-2 flex justify-center items-center h-8 ">
      <p class="text-center font-normal text-xs text-gray-7">Thứ 2, 14-02-2020</p>
    </div>

    <div class="flex flex-row justify-start items-start">
      <div class="pt-2">
        <img src="../assets/Avatar-message.png" alt="" class="w-8 h-8">
      </div>
      <div class="px-4 py-2 flex flex-col justify-start max-w-455 font-normal">
        <div class="px-4 py-2 w-full bg-white rounded-b-xl rounded-tr-xl">
          <p class="text-left text-sm text-black-1 whitespace-pre-wrap">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
        </div>
        <p class="text-xs text-gray-7 pt-1">16:20</p>
      </div>

    </div>

    <div class="flex flex-row justify-end items-start w-full ">
      <div class="py-2 flex flex-col justify-start max-w-455 font-normal">
        <div class="bg-orange-1 px-4 py-2 rounded-t-xl rounded-bl-xl">
          <p class="text-left text-sm text-white whitespace-pre-wrap">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
        </div>
        <p class="text-xs text-gray-7 pt-1 text-right w-full">16:20</p>
      </div>
    </div>

    <div class="flex flex-row justify-end items-start w-full ">
      <div class="py-2 flex flex-col justify-start max-w-455 font-normal">
        <div class="bg-orange-1 px-4 py-2 rounded-t-xl rounded-bl-xl">
          <p class="text-left text-sm text-white whitespace-pre-wrap flex flex-col justify-start items-center">
            Thanh toán đơn hàng: INV237896544
            <button class="bg-white text-orange-1 rounded-md font-medium text-sm w-full py-[5px] px-[11px] mt-1">Button text</button>
          </p>
        </div>
        <p class="text-xs text-gray-7 pt-1 text-right w-full">16:20</p>
      </div>
    </div>

    <div class="flex flex-row justify-end items-start w-full ">
      <div class="py-2 flex flex-col justify-start max-w-455 font-normal">
        <div class="rounded-t-xl rounded-bl-xl flex flex-row justify-start items-center">
          <i class="tdsi-error-resend-line text-xl leading-5 mr-2.5 text-red-2"></i>
          <img src="../assets/Rectangle 2730.png" alt="" class="w-">
        </div>
        <a class="text-xs text-red-2 pt-1 text-right w-full">Chưa gửi được. nhấn để gửi lại</a>
      </div>
    </div>

    <div class="flex flex-row justify-end items-start w-full ">
      <div class="py-2 flex flex-col justify-start max-w-455 font-normal">
        <div class="rounded-t-xl rounded-bl-xl flex flex-row justify-start items-center">
          <i class="tdsi-error-resend-line text-xl leading-5 mr-2.5 text-red-2"></i>
          <div class="bg-orange-1 px-4 py-2 rounded-t-xl rounded-bl-xl">
            <p class="text-left text-sm text-white whitespace-pre-wrap">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
          </div>
        </div>

        <a class="text-xs text-red-2 pt-1 text-right w-full">Chưa gửi được. nhấn để gửi lại</a>
      </div>
    </div>

    <div class="flex flex-row justify-end items-start w-full ">
      <div class="py-2 flex flex-col justify-start max-w-455 font-normal">
        <div class="rounded-t-xl rounded-bl-xl flex flex-row justify-start items-center">
          <i class="tdsi-error-resend-line text-xl leading-5 mr-2.5 text-red-2"></i>
          <div class="bg-orange-1 px-4 py-2 rounded-t-xl rounded-bl-xl">
            <p class="text-left text-sm text-white whitespace-pre-wrap">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
          </div>
        </div>

        <a class="text-xs text-red-2 pt-1 text-right w-full">Chưa gửi được. nhấn để gửi lại</a>
      </div>
    </div>
  </div>

  <form class="flex flex-col justify-start p-4 pb-[28px] w-full">
    <div class="w-full font-normal text-sm h-16 ">
      <textarea cols="110" rows="5" placeholder="Nhập nội dung tin nhắn" required maxlength="500"
        class="max-w-full h-full text-ellipsis whitespace-pre-wrap overflow-y-auto border-0 focus:border focus:border-solid focus:outline-none focus:border-orange-1 px-[2px]"></textarea>
    </div>
    <div class="h-[38px] flex flex-row justify-between items-center mt-2">
      <div class="h-full">
        <i class="tdsi-like-line text-xl leading-[38px] rounded-md text-gray-1 px-[9px]"></i>
        <i class="tdsi-image-line text-xl leading-[38px] rounded-md text-gray-1 px-[9px]"></i>
        <i class="tdsi-emotion-line text-xl leading-[38px] rounded-md text-gray-1 px-[9px]"></i>
        <i class="tdsi-message-template-line text-xl leading-[38px] rounded-md text-gray-1 px-[9px]"></i>
        <i class="tdsi-product-line text-xl leading-[38px] rounded-md text-gray-1 px-[9px]"></i>
      </div>
      <button class="bg-orange-1 rounded-2xl-2 text-white px-[17px] py-[9px] h-full text-sm font-medium ">
        <i class="tdsi-send-fill mr-2"></i>
        Gửi tin nhắn
      </button>
    </div>
  </form>
</div>
