<div class="flex flex-col text-inter w-full h-full">
  <div class="px-4">
    <div class=" flex flex-row justify-start items-center h-16 py-[15px] border-b border-solid border-gray-8">
      <div class="flex flex-row justify-start items-center w-282 h-34 p-1.75 rounded border border-solid border-gray-8 mr-2">
        <i class="tdsi-search-fill text-lg w-[20px] text-gray-6 mr-2.5"></i>
        <input type="text" placeholder="Search" class="text-gray-7 w-full text-sm ">
      </div>
      <div class="h-34 border border-solid border-gray-8 w-34 rounded flex justify-center items-center relative">
        <i class="tdsi-filter-2-line text-xl leaading-5 text-gray-6"></i>
        <div class="bg-white rounded-4xl h-[12px] leading-3 absolute top-[2px] right-[3px]">
          <i class="tdsi-success-fill text-orange-1 text-xs "></i>
        </div>
      </div>
    </div>
    <div class="w-full h-15 py-[13px] flex flex-row justify-start items-center border-b border-solid border-gray-8">
      <div class="flex flex-row items-center justify-between text-sm">
        <input type="checkbox" class="rounded border border-solid border-gray-8 outline-0 w-[18px] h-[18px]">
        <div class="bg-orange-1 h-34 rounded-md flex justify-center items-center px-13 py-[7px] mx-2 text-white">
          <span class="mr-5">Thao tác</span>
          <i class="tdsi-arrow-down-fill text-xl leading-5 "></i>
        </div>
        <div class="h-34 rounded-md flex justify-center items-center px-13 py-[7px] border border-solid border-gray-8">
          <span class="mr-2">Theo tin nhắn mới</span>
          <i class="tdsi-arrow-down-fill text-xl leading-5 "></i>
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-y-auto scrollbar-thin scrollbar-thumb-gray-3 ">
    <div class="px-4 h-98 w-full border-solid border-orange-1 border-l-1.5 bg-gray-10">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
              <div class="text-center rounded-xl-1 border border-solid border-white bg-red-2 text-white px-2 text-xs">10</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
              <div class="text-center rounded-xl-1 border border-solid border-white bg-red-2 text-white px-2 text-xs">10</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
              <div class="text-center rounded-xl-1 border border-solid border-white bg-red-2 text-white px-2 text-xs">10</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 h-98 w-full">
      <div class="py-4 w-full h-full border-b border-solid border-gray-8">
        <div class="h-full flex flex-row justify-between items-center">
          <div class="mr-[12px] w-12 h-12 relative">
            <img src="../assets/Avatar-message.png" alt="" class="w-full h-full">
            <div class="w-2 h-2 rounded-4xl bg-green-1 absolute top-[1px] right-[5px] border border-solid border-white"></div>
          </div>
          <div class="w-264 h-66">
            <div class="flex justify-between items-center h-5 mb-1.5">
              <p class="font-medium text-sm text-black-1 leading-5">Nguyen Van Huy</p>
              <p class="font-normal text-xs text-gray-9 text-right">13:00</p>
            </div>
            <div class="flex flex-row justify-between items-end">
              <p class="w-228 overflow-hidden h-10 text-xs-1 text-gray-7">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
              <div class="text-center rounded-xl-1 border border-solid border-white bg-red-2 text-white px-2 text-xs">10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
